.advantages {
  color: $main-color-text;
  text-align: left;
  padding-top: 36px;
  padding-bottom: 36px;
}

.advantages__item {
  margin-bottom: 31px;
  position: relative;
}

.advantages__item:last-child {
  margin-bottom: 0;
}

.advantages__item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages__item--house::before {
  width: 37px;
  height: 36px;
  background-image: url("../../img/icon-house.svg");
  left: 2px;
  top: -10px;
}

.advantages__item--gift::before {
  width: 32px;
  height: 38px;
  background-image: url("../../img/icon-gift.svg");
  left: 5px;
  top: -14px;
}

.advantages__item--burger::before {
  width: 40px;
  height: 35px;
  background-image: url("../../img/icon-burger.svg");
  left: -2px;
  top: -8px;
}

.advantages__title {
  @include reset;
  margin-left: 50px;
  margin-bottom: 17px;
}

.advantages__content {
  @include reset;
  margin-left: 50px;
  color: $gray-color-text;
}

@media (min-width: $tablet-width) {
  .advantages {
    display: flex;
    padding-top: 160px;
    text-align: center;
    justify-content: space-around;
  }

  .advantages__item {
    width: 164px;
    margin: 0;
  }

  .advantages__item--gift {
    order: 1;
  }

  .advantages__item--house::before {
    width: 75px;
    height: 72px;
    left: 45px;
    top: -101px;
  }

  .advantages__item--gift::before {
    width: 64px;
    height: 75px;
    left: 50px;
    top: -104px;
  }

  .advantages__item--burger::before {
    width: 77px;
    height: 68px;
    left: 44px;
    top: -98px;
  }

  .advantages__title {
    margin: 0;
    margin-bottom: 19px;
    font-size: 21px;
    line-height: 26px;
  }

  .advantages__content {
    margin: 0;
  }
}
