.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-grey-blue;
  height: 58px;
  width: 100%;
  color: $invert-color-text;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
}
