.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-grey-blue;
  height: 58px;
  width: 100%;
  color: $invert-color-text;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
}

.button--disabled {
  background-color: rgba(229, 229, 229, 1);
}

.button:hover,
.button:focus {
  background-color: rgba(102, 158, 192, 1);
}

.button:active {
  background-color: rgba(84, 150, 189, 1);
  color: rgba(255, 255, 255, 0.3);
}
