.develop-block__academy-logo {
  background-image: url("../../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
  display: inline-block;
  width: 27px;
  height: 34px;
  vertical-align: middle;
  margin-left: 11px;
}
