.feedback__title {
  @include reset;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 26px;
}

.feedback__content {
  @include reset;
  font-size: 14px;
  line-height: 24px;
  color: $gray-color-text;
  margin-bottom: 17px;
}

.feedback__set {
  @include reset;
  border: none;
  display: flex;
}

.feedback__set--name {
  margin-bottom: 26px;
}

.feedback__set--contacts {
  margin-bottom: 28px;
}

.feedback__set--attractions {
  margin-bottom: 25px;
}

.feedback__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-top: 18px;
}

.feedback__legend--contacts {
  margin-bottom: 17px;
}

.feedback__legend--impress {
  margin-bottom: 23px;
  padding-top: 18px;
}

.feedback__legend--attractions {
  margin-bottom: 17px;
}

.feedback__set--impress {
  margin-bottom: 27px;
}

.feedback__label {
  font-size: 14px;
  line-height: 26px;
  color: $gray-color-text;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.feedback__label--attractions {
  margin-bottom: 24px;
}

.feedback__label:last-child {
  margin-bottom: 0;
}

.feedback__label--radio-checkbox {
  margin-bottom: 13px;
}

.feedback__input {
  border: none;
  height: 58px;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $main-color-text;
  padding: 0 22px 0;
  flex-grow: 1;
  margin-left: 15px;
  width: 100%;

}

.feedback__input:hover,
.feedback__textarea:hover {
  background-color: rgba(229, 229, 229, 1);
}

.feedback__input:focus,
.feedback__textarea:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: solid 4px rgb(229, 229, 229);
}

.feedback__input::placeholder {
  color: $main-color-text;
}

.feedback__label--phone,
.feedback__label--email {
  flex-direction: column;
  align-items: stretch;
  text-align: left;
  position: relative;
}

.feedback__label--phone {
  margin-bottom: 9px;
}

.feedback__label--phone::after,
.feedback__label--email::after {
  content: "";
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  position: absolute;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.feedback__label--phone::after {
  background-image: url("../../img/icon-phone.svg");
}

.feedback__label--email::after {
  background-image: url("../../img/icon-mail.svg");
}

.feedback__input--phone,
.feedback__input--email {
  margin-left: 0;
  padding-right: 80px;
}

.feedback__span {
  font-size: 14px;
  line-height: 26px;
  color: $gray-color-text;
  font-weight: 400;
  margin-top: 3px;
  margin-left: 1px;
}

.feedback__span--contacts {
  padding-left: 20px;
  margin-bottom: 7px;
}

.feedback__span--radio-checkbox {
  @include reset;
  margin-right: 5px;
  font-size: 18px;
  color: $main-color-text;
  font-weight: 700;
  text-transform: none;
}

.feedback__input--radio {
  @include reset;
  width: 0;
  height: 0;
  flex-grow: 0;
}

.feedback__input--radio:hover,
.feedback__input--radio:focus,
.feedback__input--radio:active {
  outline: none;
}

.feedback__input-custom {
  position: relative;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  display: inline-block;
}

.feedback__input-custom:hover,
.feedback__input-custom:focus {
  background-color: rgba(229, 229, 229, 1);
}

.feedback__input-custom:active {
  background-color: rgba(213, 213, 213, 1);
}

.feedback__input:checked:active ~ .feedback__input-custom::after {
  background-color: rgba(51, 51, 51, 0.3);
}

.feedback__input-custom--radio {
  border-radius: 50%;
  margin-right: 23px;
}

.feedback__input--radio:checked ~ .feedback__input-custom::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: $gray-color-text;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
}

.feedback__input--checkbox {
  @include reset;
  width: 0;
  height: 0;
  flex-grow: 0;
}

.feedback__input--checkbox:hover,
.feedback__input--checkbox:focus,
.feedback__input--checkbox:active {
  outline: none;
}

.feedback__input-custom--checkbox {
  border-radius: 3px;
  margin-right: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback__tick-icon {
  display: none;
  width: 24px;
  height: 16px;
  fill: rgba(0, 0, 0, 1);
}

.feedback__input--checkbox:checked ~ .feedback__input-custom > .feedback__tick-icon {
  display: block;
}

.feedback__input--checkbox:checked:active ~ .feedback__input-custom > .feedback__tick-icon {
  fill: rgba(51, 51, 51, 0.3);
}

.feedback__textarea {
  width: 100%;
  height: 160px;
  resize: none;
  border: none;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $main-color-text;
  padding-top: 12px;
  padding-right: 30px;
  padding-left: 20px;
  padding-bottom: 12px;
  margin-bottom: 48px;
}

.feedback__textarea::placeholder {
  color: $main-color-text;
}

.feedback__footnote {
  @include reset;
  display: none;
}

@media (min-width: $tablet-width) {
  .feedback__title {
    font-size: 30px;
    line-height: 26px;
  }

  .feedback__form-wrapper {
    padding-left: $tablet-container-padding;
    padding-right: $tablet-container-padding;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  }

  .feedback__form {
    display: flex;
    flex-wrap: wrap;
  }

  .feedback__inner-container {
    padding: 0;
  }

  .feedback__outer-container {
    width: 50%;
  }

  .feedback__outer-container--impress {
    order: -1;
  }

  .feedback__outer-container--contacts {
    width: 100%;
  }

  .feedback__outer-container--attractions {
    width: 100%;
  }

  .feedback__outer-container--emotions {
    width: 100%;
  }

  .feedback__outer-container--submit {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .feedback__outer-container--name {
    padding-left: 58px;
  }

  .feedback__button--submit {
    width: 50%;
  }

  .feedback__footnote {
    display: block;
    color: rgba(51, 51, 51, 1);
    line-height: 26px;
  }

  .feedback__set {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .feedback__set--impress {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  .feedback__set--name,
  .feedback__set--impress {
    border-top: none;
  }

  .feedback__legend {
    font-size: 21px;
    line-height: 26px;
    width: 400px;
  }

  .feedback__legend--impress,
  .feedback__legend--name {
    width: 100%;
    text-align: left;
  }
}
