.footer {
  background-color: rgba(255, 255, 255, 1);
  color: $main-color-text;
  font-family: $main-font;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  padding-top: 30px;
}

.footer__hashtag {
  @include reset;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 36px;
}


@media (min-width: $tablet-width) {
  .footer__container {
    display: flex;
    justify-content: space-around;
  }

  .footer__hashtag {
    margin-bottom: 0;
  }
}
