.footer {
  background-color: rgba(255, 255, 255, 1);
  color: $main-color-text;
  font-family: $main-font;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  padding-top: 30px;
}

.footer__hashtag {
  @include reset;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 36px;
}
.footer__socials {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
}

.footer__develop {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .footer {
    padding-bottom: 36px;
  }

  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .footer__hashtag {
    margin: 0;
  }

  .footer__socials {
    margin: 0;
  }

  .footer__develop {
    margin: 0;
  }
}
