.main {
  background-color: rgba(255, 255, 255, 1);
  color: $main-color-text;
  font-family: $main-font;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  padding-top: 40px;
}

.main--photo {
  padding-top: 38px;
}

.main--form {
  padding-top: 38px;
  margin-bottom: 43px;
}

.main__title {
  @include reset;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 27px;
}

.main__videos {
  margin-bottom: 106px;
}

@media (min-width: $tablet-width) {
  .main__title {
    font-size: 30px;
    line-height: 26px;
  }
}
