.post {
  padding-top: 22px;
}

.post__image {
  margin-bottom: 9px;
  height: auto;
}

.post__title {
  @include reset;
  line-height: 24px;
  font-size: 14px;
  text-align: left;
}

.post__author {
  @include reset;
  color: $gray-color-text;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  text-transform: none;
  margin-bottom: 8px;
}

.post__likes-counter {
  @include reset;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  font-weight: 700;
  margin-left: 38px;
  margin-bottom: 17px;
}

.post__likes-counter::before {
  content: "";
  position: absolute;
  left: -37px;
  background-image: url("../../img/icon-like.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 21px;
}

@media (min-width: $tablet-width) {
  .post {
    padding-top: 0;
  }

  .post__container {
    background-clip: content-box;
    background-color: rgba(234, 234, 234, 1);
    width: 100%;
    padding: 0;
  }

  .post__image {
    width: 100%;
    margin-bottom: 0;
  }

  .post__likes-counter {
    margin: 0;
  }

  .post__wrapper--description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}
