.promo-block {
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  min-height: 389px;
  padding-top: 90px;
}

.promo-block--photo {
  min-height: 157px;
  background-position: bottom;
  padding-top: 50px;
}

.promo-block__image {
  min-width: 281px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .promo-block {
    min-height: 518px;
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    padding-top: 77px;
  }

  .promo-block--photo {
    min-height: 290px;
    padding-top: 94px;
  }

  .promo-block__image {
    width: 460px;
  }

  .promo-block__text-image {
    width: 460px;
  }
}
