.promo-block {
  background-image: url("../../img/bg-intro-triangle-mobile.svg"), url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  background-position: bottom, top;
  min-height: 389px;
  padding: 90px;
}

.promo-block--photo {
  min-height: 195px;
}
