.reason {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  color: $gray-color-text;
  background-color: rgba(239, 239, 239, 1);
}

.reason::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  left: $mobile-container-padding;
  right: $mobile-container-padding;
  bottom: 0;
}

.reason:nth-child(1),
.reason:nth-child(2) {
  color: $invert-color-text;
  background-color: rgba(255, 255, 255, 1);
}

.reason:nth-child(1)::after,
.reason:nth-child(2)::after,
.reason:last-child::after {
  display: none;
}

.reason__container {
  padding-top: 23px;
  padding-bottom: 30px;
}

.reason__container--first {
  padding-top: 65px;
  padding-bottom: 40px;
}

.reason__container--second {
  padding-top: 39px;
  padding-bottom: 39px;
}

.reason__why {
  @include reset;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $main-color-text;
  margin-bottom: 9px;
}

.reason__why--invert-color {
  color: $invert-color-text;
}

.reason__number {
  @include reset;
  margin-bottom: 15px;
}

.reason__epithet {
  @include reset;
}

.reason__advantages-list {
  @include reset-list;
}

.reason__image {
  height: auto;
}
