.socials-bar {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.socials-bar__item {
  @include reset;
  margin-right: 6px;
}

.socials-bar__item:nth-child(3) {
  margin-right: 0;
}

.socials-bar__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: $light-grey-blue;
}

.socials-bar__link:hover,
.socials-bar__link:focus {
  background-color: rgba(102, 158, 192, 1);
}

.socials-bar__link:active {
  background-color: rgba(84, 150, 189, 1);
}

.socials-bar__icon {
  fill: rgba($color: #ffffff, $alpha: 1.0);
}

.socials-bar__link:active > .socials-bar__icon {
  fill: rgba($color: #ffffff, $alpha: 0.3);
}

.socials-bar__item:last-child {
  margin-right: 0;
}
