.video-section__container {
  padding-top: 33px;
}

.video-section__question {
  @include reset;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 26px;
}

.video-section__content {
  @include reset;
  font-size: 14px;
  line-height: 24px;
  color: $gray-color-text;
  margin-bottom: 34px;
}

@media (min-width: $tablet-width) {
  .video-section__question {
    font-size: 30px;
    line-height: 26px;
  }

  .video-section__player-container {
    padding-left: $tablet-container-padding;
    padding-right: $tablet-container-padding;
  }

  .player__container--seek {
    padding: 0;
  }

  .player__container--control {
    padding: 0;
  }
}
