/**** sourse from https://a11yproject.com/posts/how-to-hide-content ****/
html {
  box-sizing: border-box;
}

body {
  @include reset;
  min-width: 320px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: $main-font;
  color: $main-color-text;
  background-color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;

  width: 1;
  height: 1;
  overflow: hidden;

  white-space: nowrap;

  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  /* added line */
}

.container {
  @include reset;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .container {
    max-width: 850px;
  }
}

.container--stretching {
  max-width: 100%;
}

.container--padding {
  padding-left: $mobile-container-padding;
  padding-right: $mobile-container-padding;
}

.container--blue {
  background-color: $light-grey-blue;
}

.container--gray {
  background-color: #f2f2f2;
}

.container--border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: $tablet-width) {
  .container--padding {
    padding-left: $tablet-container-padding;
    padding-right: $tablet-container-padding;
  }

  .container--border-bottom {
    border-bottom: none;
  }
}
